/*======================================================
** 			|     grid.css       |  		  **
======================================================== */
.clearfix:before,
.clearfix:after,
.grid:before,
.grid:after {
    content: "";
    display: table;
}
.clearfix:after,
.grid:after {
    clear: both;
}
.clearfix, .grid {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.grid {

}
.grid [class*="col-"] {
	padding: 0 15px;
	float: left;
	clear: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 1px;/*keeps it from collapsing fully. allows other columns to float alongside.*/
}
.grid.nopad > [class*="col-"] {
	padding: 0;
}
.grid [class*="col-"]:last-child {
	float: right;/*so edges always line up.*/
}
.grid.edges {
	margin-left: -15px;
	margin-right: -15px;
	box-sizing: content-box;
}
.grid .col-1 {
	width: 4.1666%;
}
.grid .col-2 {
	width: 8.3%;
}
.grid .col-3 {
	width: 12.5%;
}
.grid .col-4 {
	width: 16.666%;
}
.grid .col-5 {
	width: 20.8333%;
}
.grid .col-6 {
	width: 25%;
}
.grid .col-7 {
	width: 29.1666%;
}
.grid .col-8 {
	width: 33.333%;
}
.grid .col-9 {
	width: 37.5%;
}
.grid .col-10 {
	width: 41.666%;
}
.grid .col-11 {
	width: 45.8333%;
}
.grid .col-12 {
	width: 50%;
}
.grid .col-13 {
	width: 54.1666%;
}
.grid .col-14 {
	width: 58.333%;
}
.grid .col-15 {
	width: 62.5%;
}
.grid .col-16 {
	width: 66.666%;
}
.grid .col-17 {
	width: 70.8333%;
}
.grid .col-18 {
	width: 75%;
}
.grid .col-19 {
	width: 79.1666%;
}
.grid .col-20 {
	width: 83.333%;
}
.grid .col-21 {
	width: 87.5%;
}
.grid .col-22 {
	width: 91.666%;
}
.grid .col-23 {
	width: 95.8333%;
}
.grid .col-24 {
	width: 100%;
}

.show-900, .show-1000, .show-800, .show-700, .show-600, .show-500, .show-400 {
	display: none;
}
@media screen and (max-width: 1100px) {
	.grid.break-1100.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-1100 [class*="col-"]{
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
	.hide-1100 {
		display: none;
	}
	.show-1100 {
		display: block;
	}
}
@media screen and (max-width: 1000px) {
	.show-1000 {
		display: block;
	}
	.hide-1000 {
		display: none;
	}
	.grid.break-1000.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-1000 [class*="col-"] {
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
}
@media screen and (max-width: 900px) {
	.show-900 {
		display: block;
	}
	.hide-900 {
		display: none;
	}
	.grid.break-900.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-900 [class*="col-"]{
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
}
@media screen and (max-width: 800px) {
	.hide-800 {
		display: none;
	}
	.show-800 {
		display: block;
	}
	.grid.break-800.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-800 [class*="col-"]{
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
	.grid .col-md-1 {
		width: 4.1666%;
	}
	.grid .col-md-2 {
		width: 8.3%;
	}
	.grid .col-md-3 {
		width: 12.5%;
	}
	.grid .col-md-4 {
		width: 16.666%;
	}
	.grid .col-md-5 {
		width: 20.8333%;
	}
	.grid .col-md-6 {
		width: 25%;
	}
	.grid .col-md-7 {
		width: 29.1666%;
	}
	.grid .col-md-8 {
		width: 33.333%;
	}
	.grid .col-md-9 {
		width: 37.5%;
	}
	.grid .col-md-10 {
		width: 41.666%;
	}
	.grid .col-md-11 {
		width: 45.8333%;
	}
	.grid .col-md-12 {
		width: 50%;
	}
	.grid .col-md-13 {
		width: 54.1666%;
	}
	.grid .col-md-14 {
		width: 58.333%;
	}
	.grid .col-md-15 {
		width: 62.5%;
	}
	.grid .col-md-16 {
		width: 66.666%;
	}
	.grid .col-md-17 {
		width: 70.8333%;
	}
	.grid .col-md-18 {
		width: 75%;
	}
	.grid .col-md-19 {
		width: 79.1666%;
	}
	.grid .col-md-20 {
		width: 83.333%;
		padding: 0 .5%;
	}
	.grid .col-md-21 {
		width: 87.5%;
	}
	.grid .col-md-22 {
		width: 91.666%;
	}
	.grid .col-md-23 {
		width: 95.8333%;
	}
	.grid .col-md-24 {
		width: 100%;
	}
}
@media screen and (max-width: 700px) {
	.hide-700 {
		display: none;
	}
	.show-700 {
		display: block;
	}
	.grid.break-700.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-700 [class*="col-"] {
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
}
@media screen and (max-width: 600px) {
	.hide-600 {
		display: none;
	}
	.show-600 {
		display: block;
	}
	.grid.break-600.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-600 [class*="col-"]{
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
}
@media screen and (max-width: 500px) {
	.hide-500 {
		display: none;
	}
	.show-500 {
		display: block;
	}
	.grid.break-500.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-500 [class*="col-"]{
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
}
@media screen and (max-width: 480px) {
	.grid .col-sm-1 {
		width: 4.1666%;
	}
	.grid .col-sm-2 {
		width: 8.3%;
	}
	.grid .col-sm-3 {
		width: 12.5%;
	}
	.grid .col-sm-4 {
		width: 16.666%;
	}
	.grid .col-sm-5 {
		width: 20.8333%;
	}
	.grid .col-sm-6 {
		width: 25%;
	}
	.grid .col-sm-7 {
		width: 29.1666%;
	}
	.grid .col-sm-8 {
		width: 33.333%;
	}
	.grid .col-sm-9 {
		width: 37.5%;
	}
	.grid .col-sm-10 {
		width: 41.666%;
	}
	.grid .col-sm-11 {
		width: 45.8333%;
	}
	.grid .col-sm-12 {
		width: 50%;
	}
	.grid .col-sm-13 {
		width: 54.1666%;
	}
	.grid .col-sm-14 {
		width: 58.333%;
	}
	.grid .col-sm-15 {
		width: 62.5%;
	}
	.grid .col-sm-16 {
		width: 66.666%;
	}
	.grid .col-sm-17 {
		width: 70.8333%;
	}
	.grid .col-sm-18 {
		width: 75%;
	}
	.grid .col-sm-19 {
		width: 79.1666%;
	}
	.grid .col-sm-20 {
		width: 83.333%;
	}
	.grid .col-sm-21 {
		width: 87.5%;
	}
	.grid .col-sm-22 {
		width: 91.666%;
	}
	.grid .col-sm-23 {
		width: 95.8333%;
	}
	.grid .col-sm-24 {
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.hide-400 {
		display: none;
	}
	.show-400 {
		display: block;
	}
	.grid.break-400.edges {
		margin-left: 0;
		margin-right: 0;
	}
	.grid.break-400 [class*="col-"]{
		float: none;
		clear: both;
		width: auto;
		padding: 1%;
	}
}
