/*======================================================
**           | some resets and font styles |          **
======================================================== */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 15px;
}
p, li {
  margin: .5em 0;
}
h1, h2, h3, h4, h5, h6 {
  font: 700 1rem/1.3em "Ubuntu", sans-serif;
  margin: .5em 0;
}
h1 { font-size: 3.2rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }

img,iframe {
  max-width: 100%;
}

/* Button styles */
.btn-primary,.btn-secondary {
  border-radius: 0;
  text-decoration: none;
  border: 2px solid currentColor;
  display: inline-block;
  padding: .4em .7em;
  font-size: 1em;
}
.btn-small {
  border-width: 1px;
  padding: .3em .4em;
  font-size: .9em;
}
.btn-primary {
  color: #1366b0;
}
.btn-secondary {
  color: #5A5A5A;
}
